
/* TU Tuerkis #2dc6c6 oder 33cccc */


/* Login */
h1 {
    font-size:24px;
    }

/* /mydspace h2 war 30px */
h2 {
    font-size:18px;
    }

select[name="tuhh_subject_fieldofcompetence"], select[name="tuhh_subject_researchfocus"] {
        height: 7em;
        width: 20em;
}

/* nur um das Top_menu herum. */
#page {
	max-width: 1500px;
	padding-left: 2em;
	padding-right:2em;
	margin-top:0;
}

.headmenu {
	max-width:1500px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 2em 0 2em;
}

.headmenucol {
    display:block;
    float:right;
    width:100px;
}

/* Linie ueber dem Header -> 1px unten am container-fluid */
#branding {
	border-top: solid 2px #2dc6c6;
}

#tulogo {
    float: left;
    height: 105px;
    width: 230px;
}

.tulogo {
    height: 105px;
    width: 230px;
}


#apbranding-box {
    float: left !important;
    width:80%;
}

.sitename {
    float:left;
    width:40%;
    font-size: 48px;
    font-weight: bold;
    /*color:#888 !important; */
    color: #21baca !important; /* etwas dunkler */
}
.sitename a {
    text-decoration:none;
    color: #21baca !important;
}

.navicon {
    height:1.5em;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:-20px;
}

.tubdoksearch {
    width: auto;
    float: left;
    margin-top:2.5em;
}

/* DE / EN */
.msls {
    padding-left: 0em;
    float: right;
    width: auto;
    margin-top:2.5em;
}


/* wenn es ein OpenResearch Logo gibt, wieder verwenden */
.tubdoklogo {
    display:none;
}
.tubdoklogosmall {
    display:none !important;
}
#tubdoklogomobile {
    display:none !important;
}

/* Prizip: helles Design*/
body {background-color: #ffffff}


/* alles zwischen top-menu und footer +designedby */
.container {
	background-color:#ffffff;
	max-width: 1500px;
	padding-left: 3em;
	padding-right: 3em;
}

/* wie.container -designedby */
#content {
	margin-top: 0;
	background: none;
	padding-top: 0;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}




/* navbar + login */
.container-fluid {
	background-color: #efefef;
	border-bottom: solid 1px #2dc6c6;
}


.navbar-inverse {
	margin-top: 0;
	margin-bottom: 0;
	background-image: none;
	background-color: #ffffff;
	border: none;
}
.navbar {
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:none;
}

/* dspace-Logo im Menu aka Home */
li.pull-left:nth-child(1) {
    display: none;
    }

/* extra Home-Button einsparen und auf sitename legen */

/*#home-top-menu {
    display:none;
    }
*/

/* top menu */ 
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a,
.navbar-brand, .navbar-nav > li > a {
	text-shadow: none;
	color:#428bca;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a:hover,
.navbar-brand, .navbar-nav > li > a:hover {
	color:#428bca;
	text-decoration: none;
	background-color:#ddd;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a:any-link,
.navbar-brand, .navbar-nav > li > a:any-link {
	color:#428bca;
	text-decoration: none;
}

/* Active background-color */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #428bca;
    background-color: #efefef; /*oder #ddd*/
}


/* Dropdown Menu*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #428bca;
    background-color: #ddd;
}

/* weisse Schrift bei doppelklick im dropdown verhindern */
.navbar-inverse .navbar-nav>li>a:focus { color: #428bca; } 

/* caret immer in tuerkis */
.navbar-default .navbar-nav>.dropdown>a:hover .caret,
.navbar-default .navbar-nav>.dropdown>a:focus .caret {
    border-top-color:#2dc6c6;
    border-bottom-color:#2dc6c6;
    }
.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
    border-top-color:#2dc6c6;
    border-bottom-color:#2dc6c6;
    }
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-top-color:#2dc6c6;
    border-bottom-color:#2dc6c6;
    }
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #2dc6c6;
    border-bottom-color: #2dc6c6;
    }
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #2dc6c6;
    border-bottom-color: #2dc6c6;
    }


/* nach dem login sonst zu hoch */
#communitylist-top-menu a, #userloggedin-top-menu a {
    padding-top: 12px;
	color:#333
}

/* Login */
td > ul {
    list-style-type: none;
}


/* Admin Menu - Footer zu nahe */
.blank-page {
    height:20em;
    }

.panel {
    box-shadow:none;
}

/* ganze Spalte ~ Meist gesehen, Lizenz  */
.panel-primary {
    border:none;
    overflow-wrap:normal;
    word-break:normal;
    word-wrap:normal;
    }


.panel-primary > .panel-heading {
	/*display:none;*/
	color:#333;
	background-image: none !important;
	background-color:#efefef;
}

.panel-info > .panel-heading {
	color:#333;
	background-image: none !important;
	background-color:#efefef;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
        border-bottom-color: transparent;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
	  background-color:red;
	background-image:none;
	border:none;
}

/* rechte Spalte auf der Startseite nach unten druecken? */
.panel-info {
    border:none;
    /*border-color: #bce8f1;
    margin-top: 345px;*/
}


/* Bereiche und Sammlungen */
.well  {
	max-width: 700px;
    background-image:none ;
    background-color: #fff;
}


.media-list {
    background-image:none ;
    background-color: #fff;

}



.nav-tabs > li > a {
    border:none;
    font-weight: normal;
    margin-right: 0px;
}


.researcher-menu-item.ui-state-focus.active {
    border: none;
    background:none;
    font-weight: normal;
    margin-right: 0px;
}

/* login user ico */
.glyphicon {
    color: #039c9c;
    font-size:12pt;
}
/* Hilfe ? */
.glyphicon-question-sign {
    color: #039c9c;
    font-size:24pt;
}

/* usericons diverse -> researcher-profile */

.fa-globe, .fa-bar-chart-o, .fa-bell, .fa-rss, .fa-user, .fa-edit, .fa-cog, .fa-caret-down, .fa-stop{
    color: #2dc6c6;
}

/* Abstand Text-Buttonrand */
.btn-default.col-md-6 , .btn-primary.col-md-6 {
    padding-left: 12px;
}
.btn-warning.col-md-6 , .btn-primary.col-md-6 {
    padding-left: 12px;
    margin-right: 12px;
}
.btn-warning:hover {
    color:#333;
}

.btn-success.col-md-6 , .btn-primary.col-md-6 {
    padding-left: 12px;
}


/* Statistik anzeigen, blauer Button -> grau */
.btn-info {
    text-shadow: none;;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,0%,#e6e6e6,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#e6e6e6 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
    background-repeat: repeat-x;
    border-color: #e0e0e0;
    border-color: #ccc;
    color: #333;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    
}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {
    color:#333;
}
/* neue Veroeffentlichung starten, blauer Button -> grau */
.btn-success {
    text-shadow: none;;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,0%,#e6e6e6,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#e6e6e6 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
    background-repeat: repeat-x;
    border-color: #e0e0e0;
    border-color: #ccc;
    color: #333;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);

}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
 color:#333;
 background-color:#efefef;
 border-color:#ddd;
}

.btn-warning {
    text-shadow:none;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,0%,#e6e6e6,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#e6e6e6 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    color: #333;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);

}


/* veroeffentlichen Top-Buttons */
.submitProgressButtonDone{
    color: #333;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,0%,#e6e6e6,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#e6e6e6 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
    background-repeat: repeat-x;
}
.submitProgressButtonCurrent {
    color: #000;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#8ac3ec));
    background-image: -webkit-linear-gradient(top,#fff,0%,#8ac3ec,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#8ac3ec 100%);
    background-image: linear-gradient(to bottom,#fff 0,#8ac3ec 100%);
    background-repeat: repeat-x;
}
.submitProgressButtonNotDone {
    color:#888;
}


/* blau */
/*
.btn-primary {
    text-shadow: none;;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,0%,#e6e6e6,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#e6e6e6 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
    background-repeat: repeat-x;
    border-color: #e0e0e0;
    color: #333;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
}
*/

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #333;
    text-shadow: none;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,0%,#e6e6e6,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#e6e6e6 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
}


.btn-default {
    text-shadow: none;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,0%,#e6e6e6,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#e6e6e6 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
    background-repeat: repeat-x;
    border-color: #e0e0e0;
    border-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
}


/* Statistik Boxen */
.media.view, .media.view_aggregate, .media.view_count, .media.view a, .media.view_aggregate a, .media.view_count a {
    color: #333;
    background: #fff;
    border: solid 1px #dcdcdc;
}

/* google scholar*/
.media.google, .media.google a {
    color: #333;
    background: #fff;
    border: solid 1px #dcdcdc;
    }

.media.download, .media.download a {
    color: #333;
    background: #fff;
    border: solid 1px #dcdcdc;
    }

.media.altmetric, .media.altmetric a {
    color: #333;
    background: #fff;
    border: solid 1px #dcdcdc;
    }

.metric-counter {
    font-size: 1em;
    font-family: sans-serif;
    font-weight: normal;
}


/* Research Profile */
#researcher .image {
    width: 160px;
}
#picture {
    width: 160px;
}

.dynaField {
    font-size: 12pt;
    min-height:1em;
}
.dynaLabel {
    font-size: 12pt;
    font-weight: bold;
    min-height: 1em;
    color:#777;
}
/* RP->todo: Affiliations align */
.dynaFieldComboValue td, .dynaFieldComboValue th, .dynaFieldComboValueFirst td, .dynaFieldComboValueFirst th, .dynaFieldComboValueLast td, .dynaFieldComboValueLast th, .dynaFieldComboValueFirstLast td, .dynaFieldComboValueFirstLast th {
    border: none;
    padding: 0.1em;
}
.dynaFieldComboValue tbody td a, .dynaFieldComboValueFirst tbody td a, .dynaFieldComboValueLast tbody td a, .dynaFieldComboValueFirstLast tbody td a {
    background: transparent;
    text-decoration: none;
}
.dynaFieldComboValue thead th, .dynaFieldComboValueFirst thead th, .dynaFieldComboValueLast thead th, .dynaFieldComboValueFirstLast thead th {
    border: none;
    text-align: left;
    font-weight: bold;
    background: #fff;
    font-size: 12pt;
    color:#777;
}

/* Auswahlliste im RP */
.ui-menu-item.ui-state-focus {
    font-weight: normal;
    }

/* Label Success hatte gruene fuellung */
.label-success {
    background-color:#efefef;
    color:#333;
}


.discovery-search-formt {
    padding-bottom: 1em;
}

/* Facetten in der Suche */
.panel-success > .panel-heading {
    background-image: none;
    color: #333;
    background-color: #efefef;
    border-color: #efefef;
}

/* bibtex export */
.panel-warning > .panel-heading {
    background-image: none;
    background-color: #efefef;
    color: #000;
}

.panel-warning {
    border-color: #fff;
}


/* Stoebern Auflistung nach Autor */
.col-md-offset-3 {
    margin-left: 0px;
}

/* Department */
.col-md-6 {
    padding-left: 0px;
}

/* Abstand zum Button Langanzeige */
.col-lg-3 {
    padding-top:1.5em;
    }

table {
    border 1px solid #efefef;
}


/* Facette dunkelblau->grau*/
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-image:none;
    background-color: #ddd;
    color: #333;
    text-shadow:none;
    border-color: #efefef;
}


/* Blaue Box Trefferlisten-Head */
.alert-info {
    background-image: none;
    background-color: #fff;
    border-color: #efefef;
}

.ui-state-hover {
    font-weight: normal;
    border: none;
}
.ui-state-hover >a:focus {
    font-weight: normal;
    border: none;
}
.ui-state-hover >a:active {
    font-weight: normal;
    border: none;
}
.alert-warning {
    color: #bd4242;
}

/* Formularfelder den Suchmasken mit Abstand unte n */
.form-control {
  border-radius: 0;
  margin-bottom: 6px;
} 

/*Logos tubdok nimmt teil an...*/
footer.navbar-inverse {
    max-width: 1500px;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
}

/* Logos: dnb datacite openaire worldcat base ...*/
.navbar-bottom .navbar-bottom {
	background-color: #fff;	
	padding-top: 2em;
	border-top: 1px solid #ddd; 
}

/* logos */
.img-container{
	padding-left: 15px;
	padding-right:15px;
}



#designedby  {
	color: #000;
	background-color: #efefef;
	padding-top:14px;
}


#designedby > a:hover, #designedby > a:focus, 
p.text-muted > a:hover, p.text-muted > a:focus {
	text-decoration: none;
    }

/* Vorbelegung in Formularen dunkler */
.form-control::-webkit-input-placeholder {
    color: #333;
    }
.form-control::-moz-placeholder {
    color: #333;
    }
.form-control::-ms-input-placeholder {
    color: #333;
    }


/* Autorennamen */
.text-muted {
    color: #333;
    }



/* HD  */
@media (max-width: 1980px) {
    /* Institute + Projekte Liste */
   .t1 {
    max-width:40em; !important;
    }
   .t2 {
    max-width:40em; !important;
    }
   #t1 {
    max-width:40em; !important;
    }
   #t2 {
    max-width:40em; !important;
    }

}


/* Sitename wird 2-Spaltig neben Searchbox */
@media (max-width: 1208px) {
    
    #apbranding-box {
    width: 70%;
    }
    .sitename {
    float:left;
    width:120px;
    font-size: 24px;
    font-weight: bold;
    color:#888 !important;
    margin-top:6px;
    }
    .msls {
    float: right;
    font-size: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
    width: 120px;
    }
    .tubdoksearch {
    float: left;
    padding-left: 0em !important;
    margin-top: 2.5em !important;
    width:250px !important;
    }
    #main #content {
    background: #ffffff none repeat scroll 0 0;
    margin: 0 7.6%;
    width: auto;
    }
   .t1 {
    max-width:40em; !important;
    }
   .t2 {
    max-width:40em; !important;
    }
   #t1 {
    max-width:40em; !important;
    }
   #t2 {
    max-width:40em; !important;
    }

}

/* Einspaltig, Panel-Info rutscht nach unten */.
@media (max-width: 991px) {
    .clearing-992 {
        clear:both;
    }
   .t1 {
    max-width:30em; !important;
    }
   .t1 {
    max-width:30em; !important;
    }
   .t2 {
    max-width:30em; !important;
    }
   #t1 {
    max-width:30em; !important;
    }
   #t2 {
    max-width:30em; !important;
    }

}

/* Login im Hamburger-Menu */
@media (max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #428bca;
    padding-left:1em;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu >li>a:hover { 
    color: #428bca; 
    }
    #user-top-menu, #userloggedin-top-menu {
    margin-right: 15px;
    padding-left: 1em;
    }
    }

/* Sitename wandert über Searchbox  */
@media (max-width: 830px) {
    
    #apbranding-box {
    width: 60%;
    }
    .sitename {
    float:left;
    width:auto;
    font-size: 18px;
    font-weight: bold;
    color:#888 !important;
    margin-top:6px;
    }
    .msls {
    float: right;
    font-size: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
    width: 120px;
    }
    .tubdoksearch {
    float: left;
    padding-left: 0em !important;
    margin-top: 0em !important;
    width:180px !important;
    }
    #main #content {
    background: #ffffff none repeat scroll 0 0;
    margin: 0 7.6%;
    width: auto;
    }

   .t1 {
    max-width:30em; !important;
    }
   .t2 {
    max-width:30em; !important;
    }
   #t1 {
    max-width:30em; !important;
    }
   #t2 {
    max-width:30em; !important;
    }

}



/* bei < 768px klappt das Menu zusammen. Besser bei schon bei 991px  */
@media (max-width: 768px) {

/* Home Button */
/*
    #home-top-menu {
    display:none;
    }
*/
}

/* Mini-Logo Sitename Searchbox links untereinander, Sprache rechts */
@media (min-width: 200px) and (max-width: 680px) {
#tulogo {
    float: left;
    margin-left:-20px;
    }

    .standard {
    word-wrap:break-word;
    max-width:100px;
    font-size:10px;
    }
    .metadataFieldValue {
    display:block;
    max-width:200px;
    word-wrap:break-word;
    }
    .evenRowEvenCol,.evenRowOddCol,.oddRowEvenCol,.oddRowOddCol{
    word-wrap:break-word;
    font-size:10px;
    }
    #main {
    padding: 0;
    }
    #page {
    padding:6px;
    margin: 0em auto;
    max-width: 1000px;
    }
    #content {
    padding-left:0;
    padding-right:0;
    }
    .container {
    padding-left:6px;
    padding-right:6px;
    }

    .img-container {
    float: auto;
    }
    #tequery {
    width: 12em;
    }

    #apbranding-box {
    clear: both !important;
    display: block;
    float: none !important;
    margin-top: -25px;
    padding: 0;
    width: 100% !important;
    height: auto;
    }
    .sitename {
    margin-top: -5em;
    padding-right: 1em;
    float:right;
    }
    .tubdoksearch {
    float: left;
    padding-top: 1em;
    margin-left: 1em;
    width: auto;
    }
    .msls {
    padding: 0 0 0 0;
    margin-top:1.5em;
    }
    .navicon {
    display:none !important;
    }
/*
    #home-top-menu {
    display:none;
    }
*/
    .t1 {
    max-width:20em; !important;
    }
    .t2 {
    max-width:20em; !important;
    }
   #t1 {
    max-width:20em; !important;
    }
   #t2 {
    max-width:20em; !important;
    }
    #t1,#t2,#t3,#t4 {
    word-wrap:break-word;
    font-size:10px;
    }

}
